@keyframes bigger {
  0% {
    width: 1px;
    height: 1px;
    opacity: 1;
    background-color: red;
  }
  33% {
    width: 33px;
    height: 33px;
    opacity: 0.66;
    background-color: yellow;
  }
  66% {
    width: 66px;
    height: 66px;
    opacity: 0.33;
    background-color: lime;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
    background-color: RoyalBlue;
  }
}
@keyframes slit {
  from {
    width: 1px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
  }
  to {
    width: 50px;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes slit2 {
  from {
    height: 1px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
  }
  to {
    height: 50px;
    opacity: 0;
    background-color: transparent;
  }
}
body .grid {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
body .grid #intr1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 255, 150, 0.7), white, rgba(0, 183, 255, 0.7));
  overflow: hidden;
}
body .grid #intr1 .child {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation-name: bigger;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
body .grid #intr2 {
  position: relative;
  width: 100%;
  background-image: url("../img/night.png");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}
body .grid #intr2 img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
body .grid #intr2 .ver, body .grid #intr2 .hori {
  pointer-events: none;
  position: absolute;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
body .grid #intr2 .ver {
  top: 0;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
  animation-name: slit;
}
body .grid #intr2 .hori {
  left: 0;
  height: 1px;
  width: 100%;
  transform: translateY(-50%);
  animation-name: slit2;
}
body .grid #intr3 {
  position: relative;
  background: url("../img/mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
}
body .grid #intr3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 70, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
body .grid #intr3 svg {
  position: absolute;
  top: 0;
  left: 0;
}
body .grid #intr3 svg circle, body .grid #intr3 svg line {
  pointer-events: none;
}
body .grid #intr4 {
  width: 100%;
  background: linear-gradient(rgb(212, 23, 23), rgb(4, 175, 4));
  position: relative;
  overflow: hidden;
}
body .grid #intr4::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(45deg, rgba(238, 255, 0, 0.7), rgba(25, 0, 255, 0.3));
}
body .grid #intr4 .fallinDiv {
  pointer-events: none;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */