body {

    .message {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        pointer-events: none;
        color: rgba(255, 255, 255, 0.3);
        font-style: italic;
        font-weight: bold;
        font-size: 3.5em;
    }

    .bgContainer {
        width: 100vw;
        height: 100vh;
        
        div {
            position: absolute;
            width: 1000vw;
            height: 1000vh;
            background: linear-gradient(45deg,
                rgb(0, 255, 255),
                rgb(0, 255, 64),
                rgb(128, 255, 0),
                rgb(255, 191, 0),
                rgb(255, 0, 0),
                rgb(255, 0, 191),
                rgb(128, 0, 255),
                rgb(0, 64, 255),
                rgb(0, 255, 255),
            );
        }
    }
}