
body {
    font-family: Helvetica, Arial, serif;

    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100%;
}
.backToHomepage {
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: #4b4b4b;
    transition: all .5s ease-in-out;
    opacity: .3;
    z-index: 2;
    &:visited {
        color: white;
    }
    &:hover {
        opacity: 1;
        text-decoration: underline;
    }
}

/*---------------------------- input range ----------------------------*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    // top: 3px;
    margin: 0 5px;
   
}

input[type="range"]::-webkit-slider-runnable-track {
    // background:#ff000060;
    background:rgba(255, 255, 255, 0.5);
    height: 5px;
}

input[type="range"]::-moz-range-track {
    // background:#ff000060;
    background:rgba(255, 255, 255, 0.5);
    height: 5px;
  }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px;  /*Centers thumb on the track */
    /*margin-top = (track height in pixels / 2) - (thumb height in pixels /2)*/
    background-color: #ffffff;
    // background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 7px;
    // border: 2px solid rgba(0, 0, 0, 0.5); /* */
    border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    margin-top: -5px;
    background-color: #ffffff;
    height: 10px;
    width: 7px;
    /* color: hsl(167, 66%, 8%); */
    border-radius: 3px;
}

input[type="range"]:focus {
    outline: none;
}
  
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
    /* border: 1px solid #053a5f; */
    outline: none;
}
  
    /******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
    /* border: 1px solid #053a5f; */
    outline: none;
}