@keyframes goUp {
    from {top: 700px;
    }
    to {top: -100px;
    }
}

@keyframes bubble {
    0% {
        left: -3px;
    }
    25% {
        left: 1px;
    }
    50% {
        left: -2px;
    }
    75% {
        left: 2px;
    }
    100% {
        left: 0px;
    }
}

body {
    // font-family: 'Times New Roman', Times, Arial, serif;
    // position: relative;
    // overflow: hidden;
    // margin: 0;
    // padding: 0;
    // height: 100vh;
    background: linear-gradient(rgba(92, 233, 219, 0.445),rgb(2, 2, 133));
    .container {
        position: absolute;
        top: 0;
        left: 0;
    }
    .bubble{
        position: absolute;
        animation-name: goUp;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
        svg {
            position: absolute;
            animation-name: bubble;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-duration: .3s;
        }
        .b1 {
            animation-delay: .2s
        }
        .b2 {
            animation-delay: .4s
        }
        .b3 {
            animation-delay: .5s
        }
        .b4 {
            animation-delay: .7s
        }
    }

    .light {
        position: absolute;
        left: 50%;
        transform-origin: 50% 0;        
    }

    .rangeContainer {
        display: grid;
        grid-template-columns: 70px 150px;
        grid-template-rows: 1fr 1fr;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        .paramName {
            color: white;
        }
        .flex {
            display: flex;
            align-items: center;
            img {
                width: 15px;
            }
            input {
                width: 100%;
            }
        }
    }
}