@keyframes blur {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

body {
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .option {
        position: absolute;
        top: 10px;
        left: 10px;
        display: grid;
        grid-template-columns: 70px 40px 40px 40px;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
        align-items: center;
        justify-items: center;
        z-index: 1;
        padding: 5px;
        padding-right: 10px;
        background-color: rgba(180, 180, 180, 0.5);
        border-radius: 10px;
        .color1, .color2, .color3, .shape1, .shape2, .shape3 {
            width: 100%;
            height: fit-content;
            border-radius: 5px;
            svg {
                display: block;
                margin: 0 auto;
            }
        }
    }
    
    .shapeSVG {
        position: absolute;
        overflow: visible;
        animation-name: blur;
        animation-iteration-count: 5;
        animation-duration: 7s;
        animation-fill-mode: both;
    }
}