body {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    // background: linear-gradient(rgba(19, 88, 236),rgba(2, 2, 146));
    
    .whiteBG {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 0;
    }
    .option {
        position: absolute;
        top: 10px;
        left: 10px;
        display: grid;
        grid-template-columns: 70px 40px 40px 40px;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
        align-items: center;
        justify-items: center;
        z-index: 1;
        padding: 5px;
        padding-right: 10px;
        background-color: rgba(180, 180, 180, 0.5);
        border-radius: 10px;
        .color1, .color2, .color3, .shape1, .shape2, .shape3 {
            width: 100%;
            height: fit-content;
            border-radius: 5px;
            // box-shadow: 0px 0px 40px 40px #ffffff;
            svg {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .circle{
        width: 100%;
        height: 100vh;
        position: relative;
        svg {
            position: absolute;
            overflow: visible;
            
            @keyframes blur {
                0% {
                    opacity: 0;
                    // height: 200vh;
                    // opacity: 0;
                }
                50% {
                    opacity: .5;
                    // height: 100vh;
                    // opacity: 1;
                }
                100% {
                    opacity: 0;
                    // height: 200vh;
                    // opacity: 0;
                }
            }
    
            
            animation-name: blur;
            animation-iteration-count: 5;
            animation-duration: 7s;
            animation-fill-mode: both;
            
        }
    
    }
}

// #root {
    
    // position: relative;
    // width: 100%;



    
// }