

.outputDiv{
    height: 150px;
    // background-color: burlywood;
    svg{
        overflow: visible;
        .initText {
            // position: absolute;
            // left: 50%;
            // transform: translateX(-100px);
            // display: block;
            // margin-right: 50px;
            @keyframes blink{
                0% {opacity:1}
                50% {opacity:0}
                100% {opacity:1}
            }
            animation-name:blink;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}
.buttonHolder {
    width: 500px;
    height: 50px;
    background-color: darkseagreen;
    margin: 0 auto;
    padding-top: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Input {
    margin: 20px auto;
    display: block;
}